/*----------- global----------------*/
*{
margin: 0;
padding:0;
border: 0;
outline:0;
font-size: 0;
vertical-align: center;
}
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}  

body{
    background-color:#f4f4f4;
}

.wrapper {
    widows: 90%;
    margin: 0 auto;

}


.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}
ul {
    padding:0;
    margin:0;
}


.clearfix::after{
    content:"";
    clear:both;
    display: none;
}


/* header */
header{
    background:#f4f4f4;
    color:#a3a3a3;
    font-size: 2em;
    padding-top:30px;
    padding-bottom: 20px;
    min-height:80px;
}

header a{
    color:#a3a3a3;
    text-decoration: none;
    font-size: 20px;

}

header ul {
    padding:0;
    margin:0;

}

header li {
    display:inline;
    padding: 0 20px 0 20px;
}

header #head {
    float: left;
}

header #head h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 100px;
    margin-right: 20px;
}


header .highlight, header .current a{
    color:#a3a3a3;
    font-weight:bold;
}

header a:hover{
    color:#818181;
    font-weight: bold; 
}

/******************************************** front picutre */

#front_pic{
    /*margin-left:150px;*/
    width:60%;
    height:60%;
    padding:0 25px 0 0;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    display:block;
}

/******************************************* footer */

footer {
   /* padding: 20px;*/
    margin-top:45px;
    text-align:center;
    float: center;
    color:#cccccc;

}

#contact {
    padding:0 0 30px 0;
    margin:0;
    text-align:center;
    line-height:3em;
    list-style-type: none;
}

#contact li {
    display:inline;
    padding: 0 50px 0 50px;
    
}

i.far,i.fab {
        color:#a3a3a3;
        font-size:45px;
       
}
i.far:hover {
    color:#818181;
    font-weight:bold; 
}
i.fab:hover{
    color:#818181;
    font-weight:bold; 
}

/*************************** Gallery */

.gallery {
    margin-top: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    margin: 10px 50px;
}

/*.gallery {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(8, 5vw);
text-align:center;
grid-template-rows: 300px 300px 300px;
grid-template-columns: repeat(3, minmax(100px, 1fr));
grid-template-rows: 400px 400px 400px;
grid-gap: 2em;
vertical-align: middle;
margin: 5em;
}
*/
.gallery img {
    transition: 0.75s;
    padding: 1em;
    
    margin-left:auto;
    margin-right:auto;
    max-width: 600px;

 
}


.gallery img:hover { 
/*    filter: grayscale(40%); */
    transform: scale(1.05);
}

@media screen and (max-width: 800px) { 
    .gallery img { 
        max-width: 100px;
      ; 
    } 
  }

/* Disables the selection */
.disableselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge*/
     user-select: none;          /* Non-prefixed version, currently 
                                    not supported by any browser */

  }
  
 
















